version: '3.9'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: l4proj
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./src/backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./src/backend:/app
    ports:
      - "8000:8000"
    environment:
      POSTGRES_DB: l4proj
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      DEBUG: 1
    depends_on:
      - db

  frontend:
    build: ./src/frontend
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - backend

volumes:
  postgres_data:
